{% extends 'base.html' %}

{% block body %}

<div class="main_title">
    <h2>{{ the_title }}</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
          <tr>
             {% for row_title in the_row_title %}
                <th> {{row_title}} </th>
             {% endfor %}
          </tr>
        </thead>
    {% for log_row in the_data %}
        <tbody>
            <tr>
                {% for item in log_row %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<form action="/entry">
<p> <input class="btn btn-sm btn-outline-secondary" type="submit" value="Back"/> </p>
</form>

{% endblock %}